@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* { font-family: 'Noto Sans KR', serif; }

.red-color-text{
    color: rgb(215, 77, 39);
}

.space{
  //width: 10px;
  //height: 10px;
  padding: 5px;
}

.space-remove{
  margin: 0 -15px;
}

.arrow-btn,
.arrow-btn:hover,
.arrow-btn:focus {
  margin-left: 5px;
  height: 128px;
  font-size: 36px;
  color: white;
  float: left;
}

.search-btn,
.search-btn:hover,
.search-btn:focus {
  padding-right: 15px;
  height: 128px;
  font-size: 36px;
  color: white;
  float: right;
}

.block_p {
  display: block;
  margin: 0px 200px;
}

.form-control-file{
  margin-bottom: 20px;
  padding: 15px auto;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
