@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* { font-family: 'Nanum Gothic', sans-serif; }

.red-color-text{
    color: rgb(215, 77, 39);
}

.space{
  //width: 10px;
  //height: 10px;
  padding: 5px;
}

.space-remove{
  margin: 0 -15px;
}
